name: publish

on:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  IMAGE_REGISTRY: index.docker.io/palermo

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: main
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        run: |
          bazel build --stamp //...
      - name: Push
        run: |
          bazel run --stamp //agent/cmd/agent:image_push
          bazel run --stamp //registrar/cmd/registrar:image_push
