name: test

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

env:
  IMAGE_REGISTRY: index.docker.io/palermo

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Build
        run: |
          make test
